{% extends 'layout.html' %}
{% block title %}地图展示{% endblock %}

{% block head %}
{{ super() }}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=4XABZ-HETKF-6VQJI-JANSU-B6XQ2-ZYBPQ"></script>
<style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }
        body,
        button,
        input,
        select,
        textarea {
            font: 12px/22px Verdana, Helvetica, Arial, sans-serif;
        }
        html,
        body {
            height: 95%;
            margin: 0px;
            padding: 0px;
        }
        #option {
            width: 100%;
            height: 5%
        }
        #container {
            width: 100%;
            height: 95%
        }


</style>
{% endblock %}

{% block content %}
<body onload="init()">
<div id="option">
    <h2>options here</h2>
</div>
<div id="container"></div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
        function init() {
            //var sw = new qq.maps.LatLng(39.96693, 116.49369); //西南角坐标
            //var ne = new qq.maps.LatLng(39.88795, 116.28666); //东北角坐标
            var map = new qq.maps.Map(document.getElementById("container"), {
                // 地图的中心地理坐标。
                center: new qq.maps.LatLng(19.05, 109.83),

                //初始化地图缩放级别
                zoom: 9,

                //如果为 true，在初始化地图时不会清除地图容器内的内容
                noClear: true,

                //用作地图 div 的背景颜色。当用户进行平移时，如果尚未载入图块，则显示此颜色。
                //仅在地图初始化时，才能设置此选项
                backgroundColor: "#000000",

                //boundary规定了地图的边界，当拖拽超出限定的边界范围后，会自动移动回来
                //boundary:new qq.maps.LatLngBounds (ne, sw),

                //地图的默认鼠标指针样式
                draggableCursor: "crosshair",

                //拖动地图时的鼠标指针样式
                draggingCursor: "pointer",

                //地图类型ID
                mapTypeId: qq.maps.MapTypeId.MAPROAD,


                //若为false则禁止拖拽
                draggable: true,

                //若为false则禁止滑轮滚动缩放
                scrollwheel: true,

                //若为true则禁止双击放大
                disableDoubleClickZoom: false,

                //若为false则禁止键盘控制地图
                keyboardShortcuts: true,

                //地图类型控件，若为false则停用状态地图类型控件
                mapTypeControl: true,

                //地图类型控件参数
                mapTypeControlOptions: {
                    mapTypeIds: [
                        qq.maps.MapTypeId.ROADMAP,
                        qq.maps.MapTypeId.HYBRID,
                    ],
                    position: qq.maps.ControlPosition.TOP_RIGHT
                },

                //地图平移控件，若为false则不显示平移控件
                panControl: true,

                //地图平移控件参数
                panControlOptions: {
                    position: qq.maps.ControlPosition.TOP_LEFT
                },

                //地图缩放控件，若为false则不显示缩放控件
                zoomControl: true,

                //地图缩放控件参数
                zoomControlOptions: {
                    position: qq.maps.ControlPosition.TOP_LEFT
                },

                //地图比例尺控件，若为false则不显示比例尺控件
                scaleControl: true,

                //地图比例尺控件参数
                scaleControlOptions: {
                    position: qq.maps.ControlPosition.BOTTOM_RIGHT
                }

            });
var polyline = new qq.maps.Polyline({
    path: [
		new qq.maps.LatLng(19.00, 109.00)
    ],
    strokeColor: '#ff0000',
    strokeWeight: 6,
    map});

    for(var i=0;i<1000;i++)
    {
        new qq.maps.Polyline({
        path: [
            new qq.maps.LatLng(18.00, 109.00),
		    new qq.maps.LatLng(18.00, 110.00),
		    new qq.maps.LatLng(21.00, 110.00),
		    new qq.maps.LatLng(21.00, 109.00),
		    new qq.maps.LatLng(19.00, 109.00)
        ],
    strokeColor: '#00ff00',
    strokeWeight: 6,
    map});

    }
    }


</script>
{% endblock %}